p{
    border: 5px solid brown;
    width: 20%;
    display: inline-block;
    margin: 50px;
    padding: 40px;
    border-radius: 50px;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
}
.c1{
    background: linear-gradient(55deg,red,orange);
}
#id1{
    background: linear-gradient(98deg,pink,orange);
}
.c2{
    background: linear-gradient(20geg,pink,orange)
}
